<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>940946394860-9dor7j84cvg9irik30vsfs17corr0f9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940946394860-9dor7j84cvg9irik30vsfs17corr0f9t</string>
	<key>API_KEY</key>
	<string>AIzaSyAlOJeMnCqLR4gAtO-AVUTXWM3Qr4x-iDI</string>
	<key>GCM_SENDER_ID</key>
	<string>940946394860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cuongdeptrai.tutorial.App-Chat-Real-Time</string>
	<key>PROJECT_ID</key>
	<string>appmychat-6d429</string>
	<key>STORAGE_BUCKET</key>
	<string>appmychat-6d429.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940946394860:ios:9a26a29745828d56</string>
	<key>DATABASE_URL</key>
	<string>https://appmychat-6d429.firebaseio.com</string>
</dict>
</plist>